{% extends "layout.html.twig" %}

{% block title %} ini demo index {% endblock %}
{% block content %}
    <h1>Welcome to Jazz Silex Skeleton</h1>
    <p>ini demo controller method indexAction</p>
    <p><span>broklyn.gagah@gmail.com</span></p>
    {{ users|printDump }}
{% endblock %}